body{
    margin:0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 24px;
    background-color: #f7f7f7;
}

p{
    font-family:Roboto,Arial,sans-serif;
    margin-top: 0px;
    margin-bottom:0px;
}
