.header{
    height:55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section{
    flex:1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 470px;
    display: flex;
    align-items: center;
    
}

.right-section{
    width: 200px;
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.hamburger-menu,.youtube-logo{
    height: 20px;
}

.search-bar{
    flex:1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}

.hamburger-menu{
    margin-left: 24px;
    margin-right: 24px;
}

.search-button{
    height: 40px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    background-color: #F7F7F7;
    box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.05);
    margin-right: 8px;
}

.search-button, 
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.current-user-picture{
    position: relative;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    position: absolute;
    background-color: rgb(112, 108, 108);
    color: white;
    font-family: Roboto,Arial;
    border-radius: 2px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity: 0.90;
}

.search-button .tooltip,
.voice-search-button .tooltip{
    bottom:-50px;
}

.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    bottom: -47px;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.voice-search-button{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 50%;
    border: none;
}

.search-button{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1px;
}

.search-icon,.voice-search-icon{
    height: 24px;
}

.upload-icon,.youtube-apps-icon,.notifications-icon{
    height: 24px;
}

.current-user-picture{
    height: 32px;
    border-radius: 50%;
}

.notifications-count{
    position:absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: Robot,Arial;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;

}

