.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom:0;
    top: 55px;
    width: 72px;
    height: 74px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(198, 196, 196);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
    font-family: Roboto,Arial;
    
}